<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Blog - all posts</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div class="container">
    <table>
        <tbody>
        <tr th:each="blog : ${blogs}">
            <td th:text="${blog.title}"><img src="">  </td>
<!--            <td th:text="${blog.id}" />-->
                    <td>
                <a th:href="@{/blogs/{id}(id=${blog.id})}">
                    Plačiau
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</body>
</html>